<h1>Pokémons</h1>

<h2>Créer un nouveau pokémon</h2>
<form [formGroup]="pokemonForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="namePokemon">Name</label>
    <input id="namePokemon" formControlName="namePokemon">
  </div>
  <div>
    <label for="descriptionPokemon">Description</label>
    <input id="descriptionPokemon" formControlName="descriptionPokemon">
  </div>
  <div>
    <label for="typePokemon">Type</label>
    <select id="typePokemon" formControlName="typePokemon" multiple>
      @for (type of types; track type) {
        <option>{{ type }}</option>
      }
    </select>
  </div>
  <div>
    <fieldset formArrayName="attacks">
      <legend>Attaques</legend>
      @for (attack of pokemonForm.controls.attacks.controls; track attack) {
        <div [formGroupName]="$index">
          <div>
            <label [for]="'nameAttack' +$index">Nom</label>
            <input [id]="'nameAttack'+$index" formControlName="nameAttack">
          </div>
          <div>
            <label [for]="'descriptionAttack'+$index">Description</label>
            <input [id]="'descriptionAttack'+$index" formControlName="descriptionAttack">
          </div>
          <div>
            <label [for]="'damages'+$index">Domages</label>
            <input [id]="'damages'+$index" formControlName="damages">
          </div>
          <button (click)="addAttack()">Ajouter l'attaque</button>
        </div>
      }

    </fieldset>

  </div>
  <div>
    <fieldset formGroupName="zone">
      <legend> Zone</legend>
      <div>
        <label for="nameZone">Nom </label>
        <input id="nameZone" formControlName="nameZone">
      </div>
      <div>
        <label for="region"> Région</label>
        <input id="region" formControlName="region">
      </div>
    </fieldset>
  </div>

  <button>Ajouter le pokémon</button>

</form>

<!-- affichage du pokemon -->
<h2>Mes pokemons</h2>
<div class="grid">
  @for (poke of pokemons; track poke) {
    <app-pokemon-card [poke]="poke"></app-pokemon-card>
  } @empty {
    <p>Aucun pokemon pour le moment</p>
  }
</div>

